* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #bcbab4;
  background: hsl(250deg 28% 12%) !important;
}

.custom-container{
    max-width: 768px;
    margin: auto;
}

iconify-icon {
  background-color: transparent !important;
  margin-left: 7px;
  font-size: 25px;
}

/* button.btn {
  width: 39%;
  height: 100%;
  padding: 1rem !important;
  font-size: 17px !important;
  border: none !important;
} */

.section-head-title {
  font-size: 36px !important;
  letter-spacing: 0.1rem;
  color: beige;
  font-weight: 700 !important;
}

a.section-btn {
  color: #fff;
  background: #6e57e0 !important;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 3px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

/* NAVBAR Styling START */
.navbar {
  padding: 15px !important;
  position: fixed;
}
.navbar .page-padding {
  padding: 0px 2.3rem;
  padding-right: 11rem !important;
  padding-left: 8rem !important;
}

.navbar .page-padding a.navbar-brand {
  font-size: 23px;
  letter-spacing: -0.01em !important;
}

.navbar-brand {
  font-size: 16px !important;
  color: beige !important;
  font-weight: 700 !important;
}

a.nav-link {
  font-size: 16px !important;
  letter-spacing: -0.01em !important;
  margin-left: 15px;
  color: #6e57e0;
  font-weight: 400 !important;
}
.nav-div {
  position: relative;
}
.nav-icon {
  position: absolute;
  right: 150px;
  top: 8px;
}

li.nav-item iconify-icon.day{
font-size: 19px !important;
cursor: pointer;
}
/* NAVBAR Styling END */

/* MAIN SECTION styling START */
/* section-1 styling START */
.section-1 {
  margin-top: 200px;
  position: relative;
  margin-bottom: 70px;
}
.section-1-social {
    gap: 1.5rem;
  position: absolute;
  left: -130px;
  top: 86px;
  width: fit-content !important;

}

iconify-icon.social{
    font-size: 20px;
    color: #6e57e0;
    cursor: pointer;
}

h1.section-1-name {
  font-weight: 700 !important;
  color: beige !important;
  font-size: 48px;
}

h3.section-1-job {
  font-size: 20px;
  font-weight: 700;
}

p.section-1-job-desc {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 16px;
}

.contact-me {
  position: relative;
}

.section-1-image {
  display: grid;
}

img.section-1-img {
  width: 84%;
  margin-left: 30px;
  border-radius: 81px;
}

button {
  font-size: 16px !important;
  font-weight: 700 !important;
}
/* SECTION-1 STYLING END */

/* SECTION-2 STYLING START */
.section-2 {
  margin-top: 140px;
  margin-bottom: 120px;
}

.section-2 h2 {
  font-weight: 700;
  font-size: 36px;
  color: beige !important;
}

.section-2 p {
  margin-bottom: 2.5rem;
}

.sect-2{
    gap: 2.5rem;
}

img.section-2-img {
    width: 100%;
    height: 265px;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: top;
}

p.section-2-desc {
  font-size: 16px;
  margin-bottom: 2.5rem;
}

.section-2-stats {
  
}

.stat h3 {
  color: beige !important;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.stat p {
  text-align: center;
  font-size: 13px;
}
/* SECTION-2 STYLING END */

/*SECTION-3 STYLING START  */
.section-3 {
  margin-top: 100px;
  margin-bottom: 230px;
}
.section-3 h2 {
  font-weight: 700;
  font-size: 36px;
  color: beige !important;
}
.section-3 p {
  margin-bottom: 50px;
  font-size: 14px;
}

.progress-head {
  margin-top: 50px;
}
.progress-head h2 {
  font-size: 20px;
}

.progress-bar {
  background: #6e57e0 !important;
  font-size: 15px;
}
/* SECTION-3 STYLING END */

/* SECTION-4 STYLING START */

.section-4 h2 {
  font-weight: 700;
  font-size: 36px;
  color: beige !important;
}

.section-4 p.lead-text {
  font-size: 16px;
  font-weight: 700;
  color: beige !important;
}

.qualification-container{
    width: 60% !important;
}

p.qualification-subtitle{
    font-size: 14px;
}

p.qualification-date{
    font-size: 13px;
}

.qualification-tabs{
    gap: 7rem;
}

.qualification-tabs h2 {
  font-size: 20px;
}

.qualification-rounder {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #6e57e0 !important;
  border-radius: 50%;
}

.qualification-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #6e57e0 !important;
  transform: translate(6px, -7px);
}

/* SECTION-5 STYLING START */
.section-5 {
  margin-top: 200px;
  margin-bottom: 200px;
}

.sect-5 {
  display: grid !important;
  gap: 1rem !important;
  grid-template-columns: repeat(3, 1fr) !important;
}

.service-container {
  padding: 6rem 0 2rem 2.5rem;
  background: hsl(250deg 29% 16%) !important;
}

.service-container:hover {
  box-shadow: 5px 10px hsl(250, 29%, 8%) !important;
  transition: 0.2s;
}

p.service-name {
  font-size: 20px;
  text-align: left !important;
  background: hsl(250deg 29% 16%) !important;
  font-weight: 500 !important;
  margin-bottom: 40px;
  color: #fff;
}

iconify-icon.service-icon {
  background-color: transparent !important;
  font-size: 20px;
  color: hsl(250deg 69% 61%) !important;
  cursor: pointer;
}

iconify-icon.service-icon:hover {
  right: 50px;
  transition: 0.1s;
}

a.view-more {
  text-decoration: none;
  color: #6e57e0;
  background: hsl(250deg 29% 16%) !important;
  font-weight: 700 !important;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  /* font-size: 19px; */
}



/* SECTION-5 STYLING END */

/* SECTION-6 STYLING START */

.section-6 {
  margin-bottom: 150px;
}

.section-6-img {
  width: 100% !important;
  border-radius: 0.4rem;
  max-width: 450px;

}

.section-6 button {
  background: transparent !important;
}

.section-6 p {
  font-size: 16px;
}

.section-6 h5 {
  font-size: 20px !important;
  color: #fff;
  font-weight: 700 !important;
  margin-bottom: 30px;
}

.section-6 iconify-icon.control {
  font-size: 60px !important;
  color: #6e57e0 !important;
}

.portfolio-desc {
  max-width: 526px;
}

.item-container {
  gap: 5rem;
}

/* SECTION-7 STYLING */

.section-7 {
  margin-bottom: 100px;
  background: hsl(250deg 30% 8%) !important;
  border-radius: 20px;
}

.sect-7 {
    padding: 3rem 2.5rem 1.5rem;
  border-radius: 1.3rem;
}

.section-7 h5 {
  font-size: 24px !important;
  color: beige;
  font-weight: 700 !important;
  margin-bottom: 20px;
}

.section-7 p {
  font-size: 16px !important;
  color: beige;
}

.sect-7,
.section-7 p,
.section-7 h5,
.discount,
.discount-img {
  background: hsl(250deg 30% 8%) !important;
}

.discount{
    max-width: 500px;
}

.discount-img img {
  max-width: 300px;
  border-radius: 1.2rem;
}

.discount p {
  margin-bottom: 1.9rem;
}

a.discount-btn {
  background: #fff !important;
  color: hsl(250deg 69% 61%);
}

iconify-icon#discount {
  color: #6e57e0 !important;
}

/* SECTION-8 STYLING */
.section-8{
    margin-bottom: 100px;
}

.section-8 .contact{
    gap: 3rem;
}


.contact-form .first-row{
    gap: 1rem;
}

.contact-form label{
    background: transparent !important;
}

.contact-form input {
    background: hsl(250deg 29% 16%) !important;
    border: none !important;
    color: #fff !important;
    border-radius: 0.5rem;
}

.contact-form textarea {
    background: hsl(250deg 29% 16%) !important;
    border: none !important;
    color: #fff !important;
    border-radius: 0.5rem;
}

.contact-dets{
    gap: 1.5rem;
}

.contact-text h3{
    font-size: 20px;
    color: #fff;
}

.contact-text p{
    font-size: 14px;
}

.contact-info{
    gap: 1rem;
}


iconify-icon.contact{
    color: #6e57e0;
    font-size: 33px;
}


/* FOOTER STYLING */

.footer-container{
    padding: 6rem;
}


.footer-container,  footer{
    background: hsl(250deg 30% 8%) !important;
}

.footer-text p span{
    color: #6e57e0;
    font-size: 16px;
    font-weight: 200 !important;
}

.footer-text p{
    font-size: 20px;
    font-weight: 700;
}

.footer-icon{
    gap:4rem ;
}

.footer-icon a{
    background: hsl(250deg 30% 8%) !important;
}
.vertical{
    border-left: 2px solid #6e57e0;
    height: 20px;
    left: 50%;
}

div.footer-text, div.footer-text p, div.footer-text span, .footer-icon{
    background: transparent !important;
}

/* Main section styling END */

/* Media query */
@media screen and (max-width: 990px) {
  .custom-container {
    width: 95% !important;
  }

  a.section-btn {
    padding: 1.05rem;
    border-radius: 0.4rem;
    font-size: 15px;
  }
  /* .page-padding{
        padding: 30px !important;
    } */

  /* NAVBAR STYLING */
  .navbar-desktop{
    display: none !important;
  }
  .navbar-brand {
    position: fixed !important;
    bottom: 0px !important;
    width: 100%;
    background: black;
    padding: 0px;
    margin: 0px;
  }

  .navbar .page-padding {
    padding: 0px !important;
  }

  /* SECTION-1 STYLING */
  .section-1 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .section-1-social{
    top: 14px;
    left: 0;
    gap: 0.9rem;
  }

  .sect-1 {
    flex-direction: column;
  }

  .section-1-image {
    order: 1 !important;
  }

  .section-1-data {
    order: 2 !important;
  }

  h1.section-1-name {
    font-size: 30px;
  }

  h3.section-1-job {
    font-size: 18px;
  }

  p.section-1-job-desc {
    font-size: 15px;
  }

  button.btn {
    width: 53%;
    height: 100%;
    padding: 25px !important;
    font-size: 15px !important;
  }

  img.section-1-img {
    display: block !important;
    margin: auto !important;
    width: 53%;
    margin-bottom: 2rem !important;
    /* margin-left: 50px; */
  }

  /* SECTION-2 STYLING */
  .sect-2 {
    flex-direction: column;
    gap: 1.5rem;
  }

  .section-2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  img.section-2-img {
    width: 67%;
    display: block;
    margin: auto;
    height: 217px;
    border-radius: 23px;
  }

  h2.section-2-about {
    font-size: 24px;
  }

  .section-2 p {
    margin-bottom: 28px;
    font-size: 15px;
  }

  .section-2-stat{
    justify-content: space-around !important;
  }

  .stat p {
    font-size: 12px;
  }

  .stat h3 {
    font-size: 20px;
  }

  p.section-2-desc {
    font-size: 15px;
    text-align: center;
  }

  .download-btn {
    display: block;
    margin: auto;
  }

  /* SECTION-3 STYLING */
  .section-3 {
    margin-bottom: 100px;
  }

  .section-3 p {
    margin-bottom: -25px;
  }

  /* SECTION-4 STYLING */

  .qualification-data {
    display: grid !important;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
  }

  .qualification-data p {
    font-size: 12px !important;
  }

  .qualification-container{
    width: 100% !important;
  }

  /* SECTION-5 STYLING */
  .section-5{
    margin-top: 90px;
    margin-bottom: 70px;
  }

  .sect-5 {
    display: grid !important;
    gap: 1.5rem !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .service-container {
    display: block;
    margin: auto;
    width: 95%;
    padding-top: 3.5rem;
  }

  /* SECTION-6 STYLING */

  .section-6{
    margin-bottom: 100px;
  }

  .section-6 p {
    font-size: 15px;
  }

  .section-6 h5 {
    font-size: 20px !important;
    letter-spacing: 0rem !important;
    margin-bottom: 1rem;
  }

  .section-6-img {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    width: 90% !important;
  }
  .item-container {
    flex-direction: column;
    gap: 1rem !important;
  }

  .portfolio-desc {
    max-width: 302px;
  }

  .section-6 iconify-icon.control {
    font-size: 35px !important;
  }

  .carousel-control-next {
    top: 31px !important;
  }

  /* SECTION-7 STYLING */
  .sect-7 {
    flex-direction: column;
    padding-bottom: 4rem;
  }
  .section-7 p{
    font-size: 17px !important;
  }

  .discount-img{
    display: block;
    margin: auto;
  }

  .discount-img img {
    margin-top: 50px;
    width: 100%;
  }

  .discount-btn{
    padding: 0.9rem 0.5rem !important;
  }

  /* SECTION-8 STYLING */
  .contact{
    flex-direction: column;
  }

  .contact-form .first-row{
    flex-direction: column;
    gap: 0;
  }

  /* FOOTER STYLING */

  .footer-container{
    gap: 2rem;
    align-items: center;
    flex-direction: column;
  }

  .footer-icon{
    gap:4rem ;
    
}

.vertical{
    display: none;
}
}
